DATABASE_URL="postgresql://content_manager:content_manager@localhost:5433/content_manager"
POSTGRES_USER="content_manager"
POSTGRES_PASSWORD="change-this-password"
POSTGRES_DB="content_manager"
APP_PORT="3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_GOOGLE_FORM_URL="https://docs.google.com/forms/d/e/1FAIpQLSfyeRJtUGn6NheKkxV5prh6lu5iw937V-funOuSlUi5eXS9vQ/viewform"
APP_ACCESS_PASSWORD="epcb2026"
AUTH_SECRET="generate-a-long-random-secret-epcb"
N8N_BASE_URL=""
N8N_API_KEY=""
N8N_IMPORT_API_KEY=""
N8N_PUBLISH_WEBHOOK_URL=""
N8N_PUBLISH_WEBHOOK_KEY=""
N8N_PUBLISH_CALLBACK_KEY=""
OPENAI_API_KEY=""
FACEBOOK_APP_ID=""
FACEBOOK_APP_SECRET=""
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""
